# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/Backend/Flashloan.Server/.vs
/Backend/Flashloan.Server/Flashloan.Application/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Application/obj
/Backend/Flashloan.Server/Flashloan.Domain/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Domain/obj
/Backend/Flashloan.Server/Flashloan.Infrastructure/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Infrastructure/obj
/Backend/Flashloan.Server/Flashloan.Server/.config
/Backend/Flashloan.Server/Flashloan.Server/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Server/obj
/contracts/node_modules
/contracts/artifacts
/contracts/cache
/Backend/Flashloan.Server/Flashloan.UniswapV2.Network.Ethereum/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.UniswapV2.Network.Ethereum/obj
/.vs
/Backend/Flashloan.Server/UniswapV2.Network.Core/bin/Debug/net8.0
/Backend/Flashloan.Server/UniswapV2.Network.Core/obj
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/bin/Debug/net8.0/Flashloan.Application.pdb
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/bin/Debug/net8.0/Flashloan.Domain.pdb
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/bin/Debug/net8.0/UniswapV2.Network.Core.pdb
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/bin/Debug/net8.0/UniswapV2.Network.Ethereum.deps.json
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/bin/Debug/net8.0/UniswapV2.Network.Ethereum.pdb
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.AssemblyInfo.cs
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.AssemblyInfoInputs.cache
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.assets.cache
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.csproj.AssemblyReference.cache
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.csproj.CoreCompileInputs.cache
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.csproj.FileListAbsolute.txt
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.GeneratedMSBuildEditorConfig.editorconfig
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.pdb
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/Debug/net8.0/UniswapV2.Network.Ethereum.sourcelink.json
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/project.assets.json
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/project.nuget.cache
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/UniswapV2.Network.Ethereum.csproj.nuget.dgspec.json
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/UniswapV2.Network.Ethereum.csproj.nuget.g.props
/Backend/Flashloan.Server/UniswapV2.Network.Ethereum/obj/UniswapV2.Network.Ethereum.csproj.nuget.g.targets
/Backend/Flashloan.Server/UniswapV2.Network.Polygon/obj
/Backend/Flashloan.Server/UniswapV2.Network.Polygon/bin/Debug/net8.0
/Backend/Flashloan.Server/UniswapV2.Network.BinanceSmartChain/obj
/Backend/Flashloan.Server/UniswapV2.Network.BinanceSmartChain/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Bot.Server/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Bot.Server/obj/Debug/net8.0/staticwebassets
/Backend/Flashloan.Server/Flashloan.Bot.Server/obj
/.vs/flash-loan-trader/v17/.wsuo
/.vs/flash-loan-trader/v17/DocumentLayout.json
