# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
/Backend/Flashloan.Server/.vs
/Backend/Flashloan.Server/Flashloan.Application/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Application/obj
/Backend/Flashloan.Server/Flashloan.Domain/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Domain/obj
/Backend/Flashloan.Server/Flashloan.Infrastructure/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Infrastructure/obj
/Backend/Flashloan.Server/Flashloan.Server/.config
/Backend/Flashloan.Server/Flashloan.Server/bin/Debug/net8.0
/Backend/Flashloan.Server/Flashloan.Server/obj
